.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}